/* A CSS selector can contain more than one simple selector. Between the simple selectors, we can include a combinator.

There are four different combinators in CSS:

descendant selector (space)
child selector (>)
adjacent sibling selector (+)
general sibling selector (~) */

descendent selector
div p {
    background-color: yellow;
  }

  div > p {
    background-color: yellow;
  }

  div + p {
    background-color: yellow;
  }

  div ~ p {
    background-color: yellow;
  }