/* There are 2 things pseudo elements and pseudo classes */
/* 
A pseudo-class is used to define a special state of an element.
For example, it can be used to:
Style an element when a user mouses over it
Style visited and unvisited links differently
Style an element when it gets focus */

a:hover {
    color: blue;
}

a:visited {
    color: black;
}

a:link {
    color: pink;
}

/* A CSS pseudo-element is used to style specified parts of an element.
For example, it can be used to:
Style the first letter, or line, of an element
Insert content before, or after, the content of an element */

a::first-letter {
    color: green;
}

a::first-line {
    background-color: green;
}
